html,
body {
  background: black;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

#display {
  flex-grow: 0;
  flex-shrink: 0;
  height: 80vmin;
  position: relative;
  width: 80vmin;
}

.pixel {
  box-sizing: border-box;
  border: 2px black solid;
  border-radius: 100%;
  height: 4vmin;
  position: absolute;
  width: 4vmin;
}
